*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #182C61;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
h1{
    font-size: 1.5em;
}
svg{
    font-weight: bold;
}
.top, .main{
    width: 100%;
    text-align: center;
    padding: 0.8em;
}
.top svg{
    font-size: 3em;
    padding-top: 0.2em;
}
#formulario-usuario{
    width: 50%;
    margin: 0 auto;
}
#formulario-usuario input{
    width: 100%;
}
#formulario-usuario button{
    width: 100%;
    margin-top: 0.5em;
}
#modal{
    color: #000;
}
footer{
    position: absolute;
    bottom: 0;
    padding: 0.9em;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
}